body{
    /*border: 1px solid red;*/
    font-family: 16px; /*1em*/
    margin: 0px auto;
    max-width: 1024px;
}
footer article{
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
    vertical-align: top;
    width: 31.1%;
}
footer img{
    width: 300px;
}
header nav ul li{
    width: 17.0%;
    display: inline-block;
    text-align: center;
    /*border: 1px solid blue;*/
    padding: 8px 14px;
}

header ul{
    margin-left: -38px;
}

header nav ul li:nth-child(2){
    background: #849C3C;

}
header nav ul li:nth-child(3){
    background: #2C2C2C;
    
}
header nav ul li:nth-child(4){
    background: #D33040;
    
}
header nav ul li:nth-child(5){
    background: lightgray;   
}
hr{
    color: #949494;
    border-style: dashed;
}
section, footer{
    background: #353535;
}
section article{
    /*border: 1px solid red;*/
    width: 17.9%;
    height: 280px;
    padding: 18px 8px;
    vertical-align: top;
    display: inline-block;
}
section article:nth-child(2){
    background: #849C3C;
}
section article:nth-child(3){
    background: #353535;
}
section article:nth-child(4){
    background: #D33040;
}
section article:nth-child(5){
    background: lightgray
}
section article img{
    width: 150px;
}
section article ul{
    list-style: none;
}
section article ul li{
    margin-bottom: 10px;
}
.letra-azul{
    color: lightblue;
}
.letra-blanca{
    color: white;
}
.letra-gris{
    color: #949494;
}
.read-more{
    margin-left: 220px;
}
.tam-menu-lateral{
    font-size: 1.1em;
}
.tam-tarjetas{
    font-size: 1.7em;
}